:root {
  --main-lightgrey: #777;
  --main-dgreen: #294550;
  --main-orange: #ff4d00;
  --main-gray: #303841;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: white;
}

* {
  margin: 0px;
  padding: 0px;
}

/*  welcome */
.welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90vh;

  /* Image by <a href="https://pixabay.com/users/Boskampi-3788146/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1873854">Boskampi</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1873854">Pixabay</a> */
  background: linear-gradient(62deg, rgba(58, 61, 64, 1) 0%, rgba(24, 23, 25, 0.7) 100%), url("./images/code.png") no-repeat center / cover;
}

.welcome-section h1 {
  font-size: 6rem;
}

.profile-picture {
  background-image: url("./images/profile.jpg");
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.welcome-section p {
  color: var(--main-orange);
  font-weight: 200;
  font-style: italic;
  text-align: center;
  font-size: 3rem;
}

h1,
h2 {
  font-family: Raleway, 'sans-serif';
  font-weight: 700;
  text-align: center;
}

.txt {
  padding-right: 0.5rem;
  border-right: 0.2rem solid var(--main-lightgrey);
}

/* experience section */
.experience-section {
  background-color: var(--main-dgreen);
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  padding-top: 4.5rem;
}

.xp-moto {
  padding: 2rem;
}

.skill-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 2rem;
}

.skill-container p {
  font-size: 1.25rem;
}

.skill-container h2 {
  font-size: 1.9rem;
}

.skill-container i {
  font-size: 3.5rem;
  color: var(--main-orange);
}



/*  projects section */
.projects-section {
  text-align: center;
  padding: 2rem;
  background: #ddd;
  color: var(--main-orange);
}

.projects-text {
  color: var(--main-lightgrey);
  padding: 0.5rem;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 91%;
  margin: 5rem auto;
}

.project-description {
  color: var(--main-lightgrey);
  text-align: left;
  width: 45%;
}

.project-link {
  width: 45%;
}

.project-image {
  width: 100%;
  height: 380px;
  text-align: right;
  object-fit: cover;
  display: inline-block;
  overflow: hidden;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.my-button {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ff4d00;
  width: 200px;
  padding: 0.5rem;
  margin: 1.5rem 0;
  display: block;
  border: 2px solid #ff4d00;
  border-radius: 30px;
  background-color: transparent;
  transition: all 0.3s ease-in;
  font-size: 1.15rem;
}

.my-button:hover {
  outline: none;
  display: block;
  cursor: pointer;
  background-color: #ff4d00;
  color: white;
  padding: 0.5rem 1rem;
}

.project-title {
  color: var(--main-lightgrey);
  font-weight: bold;
}

.platform {
  font-size: 1.2rem;
}

.icons {
  color: #ff4d00;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.description-text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.45rem;
}

.project:nth-child(even) {
  flex-direction: row-reverse;
}

.btn-show-all {
  text-decoration: none;
  color: white;
  display: block;
  width: 210px;
  padding: 0.75rem 2rem;
  border-radius: 2rem;
  text-align: center;
  background: var(--main-gray);
  transition: all 0.3s ease-in;
  border-radius: 1.1rem;
  margin: 0 auto;
}

.btn-show-all fa-chevron-right {
  transition: transform 0.3s ease-out;
}

.fa-chevron-right {
  margin: 0.4rem;
}

.btn-show-all:hover {
  background: var(--main-orange);
}

.btn-show-all:hover .fa-chevron-right {
  transform: translateX(5px);
}

/*  contact section */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  height: 60vh;
  padding: 2rem;
  background: var(--main-gray);
}

.contact-section-header>h2 {
  font-size: 3.25rem;
  padding: 1.25rem;
}

.contact-section-header>span {
  font-size: 1.5rem;
}

.contact-links {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  height: auto;
  max-width: 90%;
  margin-top: 5rem;
}

.contact-details {
  width: 20%;
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 1.5rem;
  transition: transform 0.3s ease-out;
}

@media(max-width: 995px) {
  .skill-container {
    flex-direction: column;
    align-items: center;
  }

  .project {
    flex-direction: column;
    align-items: center;
  }

  .project:nth-child(even) {
    flex-direction: column;
  }

  .project-link {
    width: 90%;
  }

  .project-description {
    width: 90%;
  }

  .contact-links {
    width: 60%;
  }

  .contact-links span {
    display: none;
    width: 10%;
  }

}

/*  footer */
footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 20vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.15rem;
  background: #ddd;
  color: #303841;
  padding: 2.5rem;
}

.initials {
  display: inline-block;
  color: white;
  font-size: 1.6rem;
  padding: 0.6rem;
  line-height: 1;
  border-radius: 50%;
  background-color: var(--main-gray);
  margin-bottom: 1rem;
}